<html>
	<head>
		<title>MyTimetable for Victoria University</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>
			<h1>MyTimetable for <s>Victoria University</s> <s>University of Wellington</s> Victoria University &#x1F937;</h1>
			<aside>Because you're too lazy to do it yourself | <a href="https://gitlab.com/pipct/my-timetable">Source code</a></aside>
		</header>

		<article>
			{% if error %}<p class="error">{{ error }}</p>{% endif %}
			<p>
			What if I told you we can put all your lectures, labs, workshops, tutorials, and more into your calendar in three steps?<br />
			Well, that's what I'm telling you now:

			<ol>
				<li>Login to your <a href="https://student-sa-odd.victoria.ac.nz">myAllocator</a> page.</li>
				<li>Right-click on the page and click "View Page Source", then copy the source code that appears (Ctrl-A then Ctrl-C).</li>
				<li>Paste the code that you copied into the text-box below, and click Generate.</li>
			</ol>

			And you're done! A calendar file will be downloaded, which you can import into your calendar app of choice (click <a href="https://support.google.com/calendar/answer/37118?hl=en#import_to_gcal">here</a> for instructions on importing into Google Calendar).
			</p>
		</article><hr />

		<form action="/api/generate" method="post">
			<p>
				Generate Timetable for
				{% for i in range(2) %}
					<input type="radio" name="trimester_selection" value="{{i + 1}}" id="trimester-{{i + 1}}" {% if trimester_number == i + 1 %} checked {% endif %} />
					<label for="trimester-{{i+1}}">Trimester {{i + 1}}</label>
				{% endfor %}
				<br />
				<span class="small-text">Note: Generating a timetable for Trimester 3 is currently unsupported</span>
			</p>

			<textarea id="code" name="sa_html" placeholder="Insert myAllocator source here"></textarea>
			<p class="small-text">A copy of your timetable information will be sent to our server to generate the calendar file, then immediately deleted. As far as we can tell, there is no sensitive information contained in the source of the myAllocator page, but if you prefer you can <a href="https://gitlab.com/pipct/my-timetable">download our Python script</a> and run it yourself.</p>
			<button type="submit">Generate</button>
		</form>
		<hr />

		<footer>
			<p>
			Thanks to Drew McConville for the <a href="http://bettermotherfuckingwebsite.com/">design inspiration</a>.<br />
			MyTimetable is licenced under the <a href="https://gitlab.com/pipct/my-timetable/blob/master/LICENSE">GNU Affero General Public License</a>.<br />
			Copyright &copy; 2017 <a href="https://kwiius.com/">Jamie McClymont</a>, <a href="https://johnguant.com/">Rhys Davies</a>, and <a href="https://nick.geek.nz">Nick Webster</a>.
			</p>

			<p>
			This project is not affiliated with Victoria University of Wellington
			</p>
		</footer>
	</body>
</html>
